/* 
   Redução de animações quando são solicitadas
 */

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    scroll-behavior: auto !important;
    transition-duration: 0.01ms !important;
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
  }
}

/* 
   toque e foco
 */

a:focus,
a:active {
  outline: none;
}

a {
  -webkit-tap-highlight-color: transparent;
}
